.btn-blue {
	background-color: #473BF0;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	transition: all 0.5s ease-out;
	background-color: white;
	color: #000500;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
}